<!-- Bootstrap CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
<link rel="stylesheet" href="{{cdn 'assets/scss/bootstrap4.min.css'}}">
<!-- {{{stylesheet '/assets/css/bootstrap.min.css'}}} -->
{{{stylesheet '/assets/css/home-blocks.css'}}}

<section id="home-blocks">
<!-- Left -->
<div class="left col-lg-6 col-md-12 mb-xs-10">
    <div class="row spacing-0">
    
        <div class="col-lg-6 col-md-6 mb-xs-10">
            <div class="gallery-image__item">
                <a href="http://livlabsswag.com/ladies-cap-sleeve-be-more-do-more-liv-more-tee-black/">
                    <img class="img-fluid" src="https://cdn7.bigcommerce.com/s-sox5h1cuho/product_images/uploaded_images/1.png?t=1537422384" alt="">
                </a>            
            </div>
        </div>
        
        
        <div class="col-lg-6 col-md-6 mb-xs-10">
            <div class="gallery-image__item">
                <a href="http://livlabsswag.com/coffee-mug/">
                    <img class="img-fluid" src="https://cdn7.bigcommerce.com/s-sox5h1cuho/product_images/uploaded_images/2.png?t=1537422384" alt="">
                </a>
                        
            </div>
        </div>
        
        
        <div class="col-lg-6 col-md-6 mb-xs-10">
            <div class="gallery-image__item">
                <a href="http://livlabsswag.com/fashion-backpack/">
                    <img class="img-fluid" src="https://cdn7.bigcommerce.com/s-sox5h1cuho/product_images/uploaded_images/3.png?t=1537422385" alt="">
                </a>
                        
            </div>
        </div>
        
        
        <div class="col-lg-6 col-md-6 ">
            <div class="gallery-image__item">
                <a href="http://livlabsswag.com/unisex-snapback-mesh-cap/">
                    <img class="img-fluid" src="https://cdn7.bigcommerce.com/s-sox5h1cuho/product_images/uploaded_images/4.png?t=1537422386" alt="">
                </a>
                        
            </div>
        </div>
        
    </div>
    </div>
    
<!-- Right -->
<div class="right col-lg-6 col-md-12 ">
    <div class="row spacing-0">
        
        <div class="col-lg-12 col-md-12 ">
            <div class="gallery-image__item">
                <a href="http://livlabsswag.com/ladies-logo-crew-tee/">
                    <img class="img-fluid" src="https://cdn7.bigcommerce.com/s-sox5h1cuho/product_images/uploaded_images/5.png?t=1537422387" alt="">
                </a>
            </div>
        </div>      
        
    </div>
</div>
</section>