<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{{{stylesheet '/assets/css/components/stencil/heroCarousel/heroCarousel.css'}}}
{{{stylesheet '/assets/css/landing-page.css'}}}
<!-- <link rel="stylesheet" href="../../../assets/scss/landing-page.css"> -->


<div class="col-md-12 logo">
  <img src="https://cdn7.bigcommerce.com/s-sox5h1cuho/images/stencil/original/livlabsgearlogo-colorhor_1536549745__29534.original.png">
</div>

<div class="col-md-6 bg-left">
        <!-- <img src="https://cdn7.bigcommerce.com/s-sox5h1cuho/stencil/133bfe20-9c6d-0136-1c2d-6f1a872579d0/img/landing-bg-left.jpg"> -->
    <div class="heroCarousel-content col-lg-6 col-md-12">
        <h1 class="heroCarousel-title">SHOP TOOLS</h1>
        <span class="heroCarousel-action button button--primary button--large">SHOP NOW <img src="{{cdn 'img/button-icon.png'}}"></span>
        <p class="heroCarousel-description">Business Cards, Brochures</p>
    </div>
    <div class="product col-lg-6 col-md-12">
        <img src="https://cdn8.bigcommerce.com/s-p1r755480o/images/stencil/1280x1280/products/116/382/5501-014-005-04__94774.1536697973.png?c=2&amp;imbypass=on">
    </div>
</div>

<div class="col-md-6 bg-right">
        <!-- <img src="https://cdn7.bigcommerce.com/s-sox5h1cuho/stencil/133bfe20-9c6d-0136-1c2d-6f1a872579d0/img/landing-bg-right.jpg"> -->
    <div class="heroCarousel-content col-lg-6 col-md-12">
        <h1 class="heroCarousel-title">SHOP GEAR</h1>
        <span class="heroCarousel-action button button--primary button--large">SHOP NOW <img src="{{cdn 'img/button-icon.png'}}"></span>
        <p class="heroCarousel-description">Apparel, Hats, Bags, Mugs</p>
    </div>
    <div class="product col-lg-6 col-md-12">
        <img src="https://cdn7.bigcommerce.com/s-sox5h1cuho/product_images/uploaded_images/landing-page-shop-gear.png?t=1537249887">
    </div>
</div>



<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


