header, footer {
  display: none;
}
.container {
  max-width: 100%;
  padding: 0;
  margin: 0;
}
.logo {
  text-align: center;
  padding: 30px;
  background: #fff;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}
.bg-left {
  float: left;
  background-repeat: no-repeat;
  height: 100%;
  padding: 0;
}
.bg-left .heroCarousel-content {
  text-align: left;
  left: 0;
  width: 100%;
}
.bg-left .heroCarousel-content .product {
  position: absolute;
  right: 0;
}
.heroCarousel-title {
  font-size: 67px;
  font-family: "Poppins";
  text-transform: uppercase;
  line-height: 1;
}
.bg-right {
  float: right;
  background-repeat: no-repeat;
  height: 100%;
  padding: 0;
}
.bg-right .heroCarousel-content {
  text-align: right;
  left: 0;
  width: 100%;
}
