
header, footer { display: none !important; }
body { margin-top: -4.5rem; }
.container { 
  max-width: 100%;
  padding: 0;
  margin: 0;
}


.logo {
  text-align: center;
  padding: 30px;
  background: url('https://cdn7.bigcommerce.com/s-sox5h1cuho/product_images/uploaded_images/landing-page-header-bg.png?t=1537327705');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  margin: 0 auto;
  position: relative;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.bg-left { 
  float: left;
  background-image: url('https://cdn7.bigcommerce.com/s-sox5h1cuho/stencil/133bfe20-9c6d-0136-1c2d-6f1a872579d0/img/landing-bg-left.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  height: 80vh;
  padding: 15px;

  .heroCarousel-content { 
    text-align: left;
    left: 0;
    margin: 0;
    float: left;
    // width: 100%;
    // top: 30%;
  }
  .product {
    //  position: absolute;
    //  top: 0;
    //  right: 0;
    float: left;
    top: 50%;
    transform: translateY(-50%);
   }
}

.heroCarousel-title {
  font-size: 67px;
  font-family: "Poppins";
  text-transform: uppercase;
  line-height: 1;
  font-weight: bold;
}

.bg-right { 
  float: right;
  background-image: url('https://cdn7.bigcommerce.com/s-sox5h1cuho/stencil/133bfe20-9c6d-0136-1c2d-6f1a872579d0/img/landing-bg-right.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  height: 80vh;
  padding: 15px;

  .heroCarousel-content { 
    text-align: right;
    right: 0;
    margin: 0;
    float: right;
    // width: 100%;
    // top: 30%;

    .heroCarousel-action {
      background: #fba919;
      border: #fba919;
    }
  }
  .product {
    // position: absolute;
    // top: 0;
    // left: 0;
    float: left;
    top: 50%;
    transform: translateY(-50%);
  }
}